<h3>Create an Account</h3>
<form [formGroup]="authenticationForm" class="ui form">
  <app-input
    [control]="authenticationForm.controls['username']"
    label="username"
    inputType="text"
  ></app-input>
  <app-input
    [control]="authenticationForm.controls['password']"
    label="password"
    inputType="password"
  ></app-input>
  <app-input
    [control]="authenticationForm.controls['passwordConfirmation']"
    label="password confirmation"
    inputType="password"
  ></app-input>
  <button class="ui submit button primary">Submit</button>
  <br/>
  {{authenticationForm.errors|json}}
</form>
