<h3>Create an Account</h3>
<form [formGroup]="authenticationForm" class="ui form" (ngSubmit)="onSubmit()">
  <app-input
    [control]="authenticationForm.controls['username']"
    label="username"
    inputType="text"
  ></app-input>
  <app-input
    [control]="authenticationForm.controls['password']"
    label="password"
    inputType="password"
  ></app-input>
  <app-input
    [control]="authenticationForm.controls['passwordConfirmation']"
    label="password confirmation"
    inputType="password"
  ></app-input>
  <div
    *ngIf="
    authenticationForm.controls['password'].touched &&
    authenticationForm.controls['passwordConfirmation'].touched&&
    authenticationForm.errors"
    class="ui red basic label"
  >
    <p *ngIf="authenticationForm.errors['passwordsMatch']">Passwords must match!</p>
    <p *ngIf="authenticationForm.errors['noConnection']">No internet connection!</p>
  </div>
  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
