<form [formGroup]="emailForm" class="ui form" (ngSubmit)="onSubmit()">
  <app-input label="to" inputType="email" [control]="emailForm.controls['to']"></app-input>
  <app-input label="from" inputType="email" [control]="emailForm.controls['from']"></app-input>
  <app-input label="subject" inputType="text" [control]="emailForm.controls['subject']"></app-input>
  <app-input label="content" inputType="text" controlType="textarea" [control]="emailForm.controls['text']"></app-input>
  <button class="ui button primary">Send</button>
</form>
